<h2>Experience</h2>
<h3>PayPal</h3>
<p>Incoming Software Engineer Intern</p>
<h3>Huawei</h3>
<p>Software Engineer Intern</p>
<h2>Projects</h2>
<h3>🚌 NUSBuses 
  <a href="https://nusbuses.com"> &lt;demo&gt;</a>
  <a href="https://github.com/liujiajun/BetterNextBus"> &lt;code&gt;</a>
</h3>
<p>A delightful web app to track shuttle buses in National University of Singapore.</p>
<h3>👩‍🍳 BakingHome 
  <a href="https://github.com/liujiajun/BakingHome">&lt;code&gt;</a>
</h3>
<p>All-in-one bakery management system optimized for keyboard users.</p>

<hr/>

<div class="links">
  <a id="github-icon" 
   class="fa fa-github fa-2x main-list-item-icon"
   href="https://github.com/liujiajun"
   ></a>
   <a id="linkedin-icon"
    class="fa fa-linkedin fa-2x main-list-item-icon"
    href="https://www.linkedin.com/in/jiajun-liu-548103154/"
    ></a>
</div>

